<form action="/Search">    
    <fieldset>
        <input id="q" name="q" type="text" value="" class="form-control" placeholder="Keresés" />
        <button type="submit" class="btn btn-link" aria-hidden="true">
            <i class="fa fa-search"></i>
        </button>
    </fieldset>
</form>