/* Set the font-size for the blog posts. */
.entry-content {
    font-size: 1.1em;
}

/* Display the search results and the tagged posts using flex  */
.search-results, .tagged-posts {
    display: flex;

    li {
        padding: 10px;
    }
}